.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #f30d0d;
  overflow: hidden;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5em;
  margin-top: 100px;
  font-weight: bold;
  color: #bdf30d;
  background: rgba(38, 16, 60, 0.9);
  border-radius: 10%;
  padding: 10px;
}

.error {
  color: #f30d0d;
}
